# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool
*.cover

# Dependency directories (remove the comment below if you use Go modules)
vendor/

# Go workspace file
go.work
go.work.sum

# IDEs
.idea/
.vscode/

# Logs and temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
